spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  datasource:
    driverClassName: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/warehouse"
    username: ${POSTGRES_USER:smart_home}
    password: ${POSTGRES_PASSWORD:smart_home}

server:
  port: 0