spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        "alphanumeric-ids":
          enabled: true

  datasource:
    driverClassName: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/deliverys"
    username: ${POSTGRES_USER:smart_home}
    password: ${POSTGRES_PASSWORD:smart_home}

resilience4j:
  circuitbreaker:
    instances:
      WarehouseClientcheckProductQuantityForCart:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true

management:
  endpoints:
    web:
      exposure:
        include: circuitbreakers, info

server:
  port: 0

delivery:
  main:
    baseCost: 5.0