spring:
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  datasource:
    driverClassName: "org.postgresql.Driver"
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:8032/requests_db}
    username: ${SPRING_DATASOURCE_USERNAME:main}
    password: ${SPRING_DATASOURCE_PASSWORD:main}

management:
  endpoints:
    web:
      exposure:
        include: info

server:
  port: 0

