spring:
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  datasource:
    driverClassName: "org.h2.Driver"
    url: jdbc:h2:file:./db/requests_db}
    username: ${SPRING_DATASOURCE_USERNAME:main}
    password: ${SPRING_DATASOURCE_PASSWORD:main}

management:
  endpoints:
    web:
      exposure:
        include: info

server:
  port: 0

stats-client:
  id: stats-server