spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      default-filters:
        - CircuitBreaker=myCircuitBreaker
      routes:
        - id: admin_route
          uri: lb://main-service
          predicates:
            - Path=/admin/**
        - id: categories_route
          uri: lb://main-service
          predicates:
            - Path=/categories/**
        - id: users_route
          uri: lb://main-service
          predicates:
            - Path=/users/**
        - id: events_route
          uri: lb://main-service
          predicates:
            - Path=/events/**
        - id: compilations_route
          uri: lb://main-service
          predicates:
            - Path=/compilations/**
        - id: stats_hit_route
          uri: lb://stats-server
          predicates:
            - Path=/hit
        - id: stats_stat_route
          uri: lb://stats-server
          predicates:
            - Path=/stats**

resilience4j:
  circuitbreaker:
    instances:
      myCircuitBreaker:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true

server:
  port: 8080