spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      default-filters:
        - CircuitBreaker=myCircuitBreaker
      routes:
        # основной сервис
        - id: admin_route
          uri: lb://main-service
          predicates:
            - Path=/admin/categories/**, /admin/events/**, /admin/compilations/**
        - id: categories_route
          uri: lb://main-service
          predicates:
            - Path=/categories/**
        - id: users_route
          uri: lb://main-service
          predicates:
            - Path=/users/{userId}/events/**
        - id: events_route
          uri: lb://main-service
          predicates:
            - Path=/events/**
        - id: compilations_route
          uri: lb://main-service
          predicates:
            - Path=/compilations/**
        # сервис запросов на участие
        - id: users_route
          uri: lb://main-service
          predicates:
            - Path=/users/{userId}/requests/**
        # сервис пользователей
        - id: admin_users_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**
        # сервис статистики
        - id: stats_hit_route
          uri: lb://stats-server
          predicates:
            - Path=/hit
        - id: stats_stat_route
          uri: lb://stats-server
          predicates:
            - Path=/stats**

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      failureRateThreshold: 50
      waitDurationInOpenState: 10000
      permittedNumberOfCallsInHalfOpenState: 3
      slidingWindowType: COUNT_BASED
      minimumNumberOfCalls: 5
      automaticTransitionFromOpenToHalfOpenEnabled: true

  instances:
    myCircuitBreaker:
      baseConfig: default

server:
  port: 8080