spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  datasource:
    driverClassName: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/smart_home"
    username: "smart_home"
    password: "smart_home"

analyzer:
  kafka:
    server_config: "localhost:9092"
    consumers:
      hub-event:
        key-deserializer: "org.apache.kafka.common.serialization.StringDeserializer"
        value-deserializer: "ru.yandex.practicum.kafka.telemetry.serialization.HubEventDeserializer"
        group-id: "hub-event-consumer"
        duration-millis: 1000
        auto-offset-reset: "earliest"
        topic: "telemetry.hubs.v1"

      snapshot:
        key-deserializer: "org.apache.kafka.common.serialization.StringDeserializer"
        value-deserializer: "ru.yandex.practicum.kafka.telemetry.serialization.SensorSnapshotDeserializer"
        group-id: "snapshot-consumer"
        duration-millis: 100
        auto-offset-reset: "earliest"
        topic: "telemetry.snapshots.v1"

grpc:
  client:
    hub-router:
      #address: "static://localhost:59090"
      address: "discovery:///hub-router"
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: "plaintext"